body{
  font-family: "Calibri";
}

#home{
  background-image: url("../img/lab1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.topbar{
  position: fixed;
  background-color: #d6eeff;
  top: 0px;
  left: 0px;
  padding: 10px;
  width: 100%;
}
.topbar ul{
  display: inline-block;
  margin: auto;
  padding: 20px 60px;
  background-color: #d0d0d0;
  border-radius: 25px;
  margin-right: 200px;
}
.topbar img{
  display: inline;
  padding: auto;
  color: blue;
  margin: -10px 10px -20px 10px;
  height: 45px;
  width: 125px;
}
.topbar li{
  display: inline;
  padding: 20px 30px;
}

.topbar li a{
  text-decoration: none;
  color: black;
}
.topbar li a:hover{
  animation-name: transition-topbar;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}


.table-nav{
  margin: auto;
}
.table-nav td{
  font-size: 10px;
  text-align: center;
  height: 45px;
  width: 45px;
  border-style: outset;
  background-color: #e0e0e0;
}
.table-nav a{
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.table-nav td:not(#nav-table-none):hover{
  animation-name: transition-nav-elements;
  animation-fill-mode: both;
}
#nav-table-none{
  border: none;
  background-color: inherit;
}
#nav-non-metal{
  background-color: #ffff77;
}
#nav-element-symbol{
  font-weight: bolder;
  font-size: 12.5px;
}

.content-top{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
#element-short-desc{
  padding: 20px;
  font-size: 16px;
}
#short-desc-name{
  font-size: 24px;
}
.content-element-box h1{
  display: inline;
}
#element-box{
  font-size: 12px;
  display: inline-block;
  border: 1px solid black;
  background-color: #ffff77;
  padding: 30px 30px 30px 30px;
}
#element-symbol{
  font-size: 40px;
}
#content-tables{
  border: 1px solid grey;
  padding: 0px;
  margin: auto;
  border-collapse: collapse;
  width: 50%;
}
#content-tables td{
  padding: 10px;
  margin: auto;
  border: 1px solid grey;
}
#content-tables caption{
  font-size: 20px;
  padding: 5px;
}

@keyframes transition-topbar{
  from {background-color: none;}
  to {background-color: lightblue; border-radius: 25px; padding: 10px 10px 10px 10px;}
}

@keyframes transition-nav-elements{
  from {border-style: outset;}
  to {border-style: inset;}
}

.topbar .search{
  display: inline;
  padding: 10px 50px 10px 30px;
  float: right;
}
.topbar .search button img{
  height: 10px;
  width: 10px;
  margin: -20px 0px 0px 0px;
}
.topbar .search button{
  display: inline;
  padding: 10px;
}
.topbar .search input{
  border: 1px solid black;
  padding: 10px;
}

#logo-home{
  margin: auto;
  padding: 125px;
  display: block;
}

#content-text{
  margin: auto;
  line-height: 110%;
}

#content-table-plain{
  border-collapse: collapse;
  margin: auto;
}
#content-table-plain img{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}
#content-table-plain p{
  padding: 10px;
}
#content-table-plain td:first-child{
  width: 70%;
}
#content-atom{
  border: 1px solid grey;
  padding: 5px;
}
.return-to-top img{
  width: 50px;
  height: 50px;
  float: right;
  z-index: 1;
}

.return-to-top img{
  width: 50px;
  height: 50px;
  float: right;
  z-index: 1;
  margin: 10px;
  opacity: 20%;
}
#go-to-top img:hover{
  animation-name: return-top;
  animation-duration: 0.25s;
  animation-fill-mode: both;
}

@keyframes return-top{
  from {opacity: 20%;}
  to {opacity: 80%;}
}


